/*reponsive en cours de test*/

.example {
    padding: 20px;
    color: white;
}

/*body*/
body{
  margin:0;
}

/*header*/
.grandDivTop{
  display: flex;
  height: 175px;
  width: 45%;
  margin: auto;
  margin-bottom: 10px;
}

.grosTitreH{
  color: #f37189;
  font-size: 2.5em;
  display: flex;
}

.gras{
  font-weight: bold;
}

.italique{
  font-style: italic;
}

.italique2{
  font-style: italic;
  margin-top: 6px;
  color: #f37189;
  font-size: 1em;
}

/*image smile*/
.icone{
  background-image: url('./img/iconeTete.png');
  background-repeat: no-repeat;
  width: 120px;
  height: 100px;
}

/*bloc 1%*/
.divPourcentage {
  height: 200px;
  width: 220px;
  background-color: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  border: 1px black solid;
}

.bloc1{
  display: flex;
  margin: auto;
}

.bloc2{
  position: relative;
  z-index: 1;
  left: 25%;
}

.divRose {
  /* position: relative; */
  background-color: #f37189;
  height: 120px;
  width: 90%;
  /* top: 11%; */
  margin: auto;
  left: 9%;
}

.divCenter {
  margin: auto;
  width: 55%;
  position: relative;
  top: -55px;
  left: -9%;
  z-index: 1
}

.textCarreRose{
  color: #FFFFFF;
  font-size: 2em;
  font-style: italic;
}

.BdC{
  margin-top: 0;
  margin-bottom: 10px;

}

.trait{
 border-top: #FFFFFF solid 1px;
 width: 85%;
 margin: auto;
}

.TAEGF{
  font-size: 20px;
  font-weight: bold;
  color:#f37189;
  padding: 0px 0px 0px 24px;
}

.pourcent{
  font-size: 50px;
  font-weight: bold;
  color: #f37189;
  padding: 0px 0px 0px 21px;
}

.quatreMille{
  font-size: 12px;
  color: #f37189;
  font-weight: bold;
  padding: 0px 10px 0px 21px;
}

/*fond background body*/
.fondBackground{
  background-color:#b3f7f9;
  width: 100%;
  margin: auto;
  position: relative;
  top: -178px;
}

.blocfond{
  background-color:#b3f7f9;
  height: 565px;
  width: 100%;
}

/*bloc prix*/

.divPrix{
  position: relative;
  background-color: #FFFFFF;
  box-shadow: 1px 1px 1px 1px #000000;
  margin: auto;
  width: 78%;
  height: 500px;
  top: 74px;
  left: -9%;
}

.placementDivPrix{
  width: 90%;
  margin: auto;
}

.divTitrePrix{
  color: #f37189;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: bold;
  font-style: italic;
  padding: 20px;
}

.choixPrix{
  display: flex;
  flex-wrap: wrap;
}

.choixPrix2{
  display: flex;
  flex-wrap: wrap;
}

.montant{
  border-radius: 20px;
  border: #3a81fd solid;
  padding: 5px 10px 5px 10px;
  color: #3a81fd;
  font-weight: bold;
  margin: 5px 5px 5px 15px;
}

/*bouton + bar de progression*/
#bar{
  width: 70%;
  margin:auto;
  background-color: #d5d9e0;
  border-radius: 30px;
  margin-top: 40px;
}

#bar2{
  width: 0%;
  height: 30px;
  background-color: #6dc119;
  border-radius: 30px;
  color: #FFFFFF;
}

.boutonPlusEtMoins{
  margin: auto;
  width: 87%;
  display: flex;
}

.separeBouton{
  width: 80%
}

.boutonPlus{
  border-radius: 50%;
  border: 3px solid #d5d9e0;
  font-size: 50px;
  font-weight: bold;
  width: 90px;
  background-color: #FFFFFF;
  padding-bottom: 10px;
  color: #d5d9e0;
}

.boutonPlus:hover{
  border: 3px solid #6dc119;
  color: #6dc119;
}

.boutonMoins{
  border-radius: 50%;
  border: 3px solid #d5d9e0;
  font-size: 50px;
  font-weight: bold;
  width: 90px;
  background-color: #FFFFFF;
  padding-bottom: 10px;
  color: #d5d9e0;
}

.boutonMoins:hover{
  border: 3px solid #6dc119;
  color: #6dc119;
}

.imgSiteSecurise{
  background-image: url('./img/siteSécurisé.png');
  background-repeat: no-repeat;
  width: 125px;
  height: 100px;
  margin: auto;
}

/*bloc image partenaire*/
.blocimg{
  display: flex;
  position: relative;
  margin: auto;
  width: 70%;
  top: 140px;
}

.imgPartenaire{
  width: 100px;
  height: 50px;
  background-color: #FFFFFF;
  border: 1px #000000 solid;
  margin-right: 2%;
  background-image: url('./img/img4.png');

}

.bloc2{
  left: 25%;
}

.espaceVide{

}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 414px) {
  .example {
    background: red;
  }

  .grandDivTop{
    width: 100%;
    display: block;
  }

  .icone{
    display: none;
  }

  .divCenter{
    width: 100%;
    left: 0;
  }

  .divRose{
    width: 100%;
    height: 58px;
  }

  .bloc2{
    position: relative;
    left: 0px;
    top: 76%;
  }

  .divPourcentage{
    width: 100%;
    height: 120px;
  }

  .blocfond {
    height: 1110px;
  }

  .fondBackground{
    top: -163px;
  }

  .divPrix{
    height: 867px;
    left: 0;
    width: 100%;
    top: 176px;
  }

  .placementDivPrix {
    width: 100%;
    margin: auto;
  }

  .grosTitreH {
    font-size: 2em;
  }

  .bloc1 {
    margin-left: 15%;
    margin-top: 10%;
  }

  .quatreMille{
    margin-bottom: 10px;
  }

  .choixPrix{
    text-align: center;
    display: block;
  }

  .choixPrix2{
    text-align: center;
    display: block;
  }

  #bar{
      margin-bottom: 20px;
  }

  .blocimg {
    width: 75%;
    top: 220px;
    flex-wrap: wrap;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 415px) {
  .example {background: green;}

  .grosTitreH{
    font-size: 2em;
  }

  .grandDivTop{
    display: block;
    width: 88%;
  }

  .divPourcentage {
    height: 151px;
    width: 240px;
  }

  .bloc2{
    left: -7%;
  }

  .divCenter{
    left: -29%;
  }

  .divRose{
      width: 78%;
  }

  .bloc2 {
    width: 4%;
    margin: auto;
  }

  .divPrix{
    height: 666px;
    left: 0;
    width: 100%;
  }

  .blocfond{
    height: 805px;
  }

  .blocimg{
    flex-wrap: wrap;
    width: 58%;
  }

  .placementDivPrix{
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .example {background: blue;}

  .grandDivTop{
    width: 90%;
    display: flex;
  }

  .bloc2{
    left: -17%;
  }

  .blocimg{
    width: 43%;
    top: 110px;
    flex-wrap: wrap;
    left: -5%;
  }

  .grosTitreH{
    font-size: 2.5em;
  }

  .divCenter{
    left: -9%;
    top: -55px;
  }

  .divPourcentage {
    height: 200px;
  }

  .divPrix{
    height: 500px;
  }

  .blocfond{
    height: 565px;
  }

  .placementDivPrix {
    width: 90%;
    margin: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .example {background: orange;}

  .grandDivTop{
    width: 71%;
    display: flex;
  }

  .blocimg{
    width: 85%;
    left: 0%;
  }

  .bloc2{
    left: -7%;
  }
  .divCenter{
    left: -9%;
    top: -55px;
  }

  .divPourcentage {
    height: 200px;
  }
  .divPrix{
        height: 500px;
  }
  .blocfond{
        height: 565px;
  }
  .placementDivPrix {
      width: 90%;
      margin: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .example {background: pink;}

    .grandDivTop{
      width: 60%;
      display: flex;
    }

    .grosTitreH{
      font-size: 2.5em;
    }

    .prixFlex1{
      margin: auto;
      width: 78vh;
    }

  .prixFlex2{
    margin: auto;
    width: 53vh;
  }

  .blocimg{
    position: relative;
    margin: auto;
    width: 75%;
    left: 0%;
  }

  .divCenter{
    left: -9%;
    top: -55px;
  }

  .divPourcentage {
    height: 200px;
  }

  .divPrix{
        height: 500px;
  }
  .blocfond{
        height: 565px;
  }
  .placementDivPrix {
      width: 90%;
      margin: auto;
  }
}

@media only screen and (min-width: 1600px) {
  .example {background: black;}

  .separeBouton {
    width: 83%;
  }
  .bloc2{
    left: 25%
  }

  .blocimg{
    width: 65%;
        left: 0%;
  }

  .grandDivTop {
    display: flex;
    height: 175px;
    width: 45%;
    margin: auto;
    margin-bottom: 10px;
  }

  .divPourcentage {
    height: 200px;
    width: 220px;
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    border: 1px black solid;
  }
  .divCenter{
    left: -9%;
    top: -55px;
  }
  .divPrix{
      height: 500px;
  }
  .blocfond{
    height: 565px;
  }
  .placementDivPrix {
    width: 90%;
    margin: auto;
  }
}
